.popup__input-about {
  width: 100%;
  display: block;
  border: none;
  padding: 0;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 45px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.popup__input-about::placeholder {
  color: #9b9b9b;
}

@media (min-width: 545px) {
  .popup__input-about {
    margin-bottom: 48px;
  }
}